.navbar-container {
    background-color: rgb(2, 61, 19);
    color: rgb(240, 232, 232);
    height: 80px;
}

.navbar-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.company-logo {
    max-width: 50px;
    height: auto;
    margin-right: 20px;
    margin-left: 10px;
}

.company-name {
    font-size: 1.2em;
}
